header {
  border-bottom: 1px solid rgb(224, 224, 224);
  ul {
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
    li {
      list-style: none;
      margin-left: 25px;
      font-weight: 500;
      font-size: 0.9rem;
      padding: 0px 15px;
      cursor: pointer;

      a {
        color: #3c3f48;
        &:hover {
          color: #c35eb6;
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;

    .logo {
      height: 4rem;
      margin-left: 25px;
    }
    .nav-buttons {
      display: flex;
      margin-top: 25px;
      margin-right: 30px;
      .loginbutton {
        padding-top: 12px;
        margin-right: 25px;
        color: #c35eb6;
        font-size: 1rem;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  header {
    display: grid;
    ul {
      display: grid;
      margin-top: 0px;
      li {
        margin-top: 25px;
        padding: 0px;
      }
    }
    nav {
      display: grid !important;

      .logo {
        margin-left: 0px;
      }
      .nav-buttons {
        display: grid;
        margin-top: 0px;
        margin-right: 0px;
        .loginbutton {
          padding-top: 12px;
          margin-left: 10px !important;
          margin-bottom: 20px;
        }
      }
    }
  }
}
