input,
textarea,
select {
  border: 2px solid rgb(184, 184, 184);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
  color: black;
  outline: none;
  &:focus {
    border: 2px solid #c35eb6;
  }
  &::placeholder {
    color: rgb(126, 126, 126);
  }
  option::placeholder {
    color: rgb(126, 126, 126) !important;
  }
}

@media only screen and (max-width: 500px) {
  input,
  textarea,
  select {
    padding-right: 0 !important;
    width: 75%;
  }
}
